section.blogSection{
  width: 100%;
  max-width: 1903px;
  display: flex;
  justify-content: center;
}

.BlogContainer-blog{
  width: 1030px;
  padding: 50px 0;
}

h2.title{
  font-family: helvetica;
  font-size: 15pt;
}

div.placemat{
    width: 100%;
}
