/*school*/

div.EducationContainer{
  width: 1030px;
  /*display: grid*/
  display: flex;
  flex-wrap: wrap;
  /*grid-auto-flow: column;*/
  justify-content: space-between;
  align-items:flex-start;
  /* Notes: Adding this, only the expanded box will expand, the other will stay the same. */
  /* Notes: Instead of display:grid and grid-auto-flow you should use the new flexbox model, takes time to get used to, but is powerful and cool:
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}

div.EducationPlaceholder{
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #262626;
}

i.edu{
  display: flex !important;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #ff9148 !important;
  transition: all .3s;
  cursor: pointer;
}

i.edu:hover{
  color: #212121 !important;
  background-color: #ff9148;
}

div.details{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 12px;
}

div.details img{
  width: 150px;
  height: 102px;
  background: #FCFEFF;
  padding: 10px;
}

div.moreDetails{
  display: none;
  border-top: solid 0.5px #ff9148;
  padding: 0 15px;
}

div.showDetails{
  display: block;
}

div.details ol{
  display: block;
  list-style: none;
  line-height: 1.5em;
  padding: 0 0 0 20px;
  margin: 0;
}



@media only screen and (max-width: 600px) {
  div.EducationPlaceholder {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  div.EducationContainer {
    max-width: 100%;
    justify-content: center;
  }

  div.EducationContainer > .EducationPlaceholder:not(:first-child){
    margin-top: 20px;
  }

  div.details ol {
    padding: 0;
    text-align: right;
    line-height: 18pt
  }

  div.details{
    flex-flow: row;
    justify-content: space-between;
  }

  div.details img{
    width: 120px;
  }

  .expand{
    width: 100%;
  }
}
