* {box-sizing: border-box;}

.showoff-slider{
  max-width: 1030px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showoff-slider img{
  max-width: 257px;
  max-height: 257px;
  object-fit: cover;
}
