* {box-sizing: border-box;}

/*Global Styles*/
/*Fonts*/
@font-face {
  font-family: 'MarvaleScript'; /*font name*/
  src: url('fonts/mervale-script.regular.ttf'); /*URL to font*/
}

h3{
  margin: 10px 5px 0px 0px;
}

body{
	background-image: url(../images/Background-2-1.jpg);
  background-color: #212121;
  background-size: cover;
	font-family: Courier;
	font-size: 12pt;
  color: #fff;
  margin: 0;
  text-align: justify;
}


/*Header Styles*/
header{
	display: flex;
	border-bottom: 1px solid #ff9148;
	height: 52px;
	max-width: 100vw;
	justify-content: center;
}

nav{
	display: flex;
	width: 900px;
	max-width: 900px;
	padding: 0px 0px;
	justify-content: space-between;
  align-items: center;
}

a.logo{
	font-family: Courier;
	font-size: 32pt;
	padding: 0px;
	margin: -8px 0px -10px 0px;
	color: #fff;
	text-shadow: #000 -2px 1px 4px;
  text-decoration: none;
  z-index: 1;
}

h2.logo{
	font-family: MarvaleScript;
	font-size: 2em;
	padding: 0px;
	margin: 0px;
	color: #fff;
	text-shadow: #000 -2px 1px 4px;
}

.logo-container{
	display: grid;
  justify-items: right;
}

.logo-container span {
    font-size: 11pt;
    font-family: courier;
}

.links-container{
	max-width: 320px;
}

ul.links {
	display: flex;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	justify-content: flex-end;
  flex-wrap: wrap-reverse;
  margin: 0;
}

ul.links li{
	margin: 0px 0px;
  width: 100px;
}

ul.links li a{
  display: flex;
  color: white;
  padding: 16px;
  text-decoration: none;
  justify-content: center;
}

nav ul li a:hover{
	color: #3b240e; /*Brown*/
	background-color: #ff8d2a; /*Orange*/
	transition: .3s;
}


/*Main Container Styles*/
section.LandingZone{
  background:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url(../images/bg-1.jpg) no-repeat center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 30vw;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-between;
  z-index: 0;
}

.bio .bio-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 49%;
}

.bio .bio-item img{
  height: 70%;
}
.bio .item-across{
  width: 100%;
}

/* Wide Section | Image Display Box */
section.ShowOff{
    display: grid;
    height: 284px;
    background-color: #212121;
}

.showoff-slider{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 20%;
    height: 100%;
    background-color: darkgrey;
}

.box:nth-child(even){
    background-color: dimgrey;
}

/* BLOG Styles */

section.blogSection{
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
	max-width: 100vw;
/* 	border: 1px solid #000; */
}

section.blogSection#index{
  padding: 60px 0px;
}

section.blogSection p{
  margin: 0px 0px 10px 0px;
}

h2.blogTitle{
  font-family: helvetica;
  font-size: 15pt;
}

.blogContainer{
  background-color: #262626;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
}

#scroll{
  padding: 0px 10px 0px 0px;
  overflow: auto;
  max-height: 350px;
}

.placemat-blog{
    width: 900px;
}

.placemat-index{
    width: 430px;
    padding: 0px;
}

a.readmore{
    text-decoration: none;
    color: #ff9148;
    float: right;
}

/* scrollbar style*/

#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #212121;
}

#scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #212121;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: #ff9148;
  border-radius: 5px;
}


/* mbile Styles */
@media screen and (max-width: 800px){

  .blogContainer {
      display: flex;
      /* align-items: center; */
      flex-wrap: wrap;
      /* flex-flow: column; */
      justify-content: center;
      width: 900px;
  }

}
/* Skills styles */
section.Skills{
  display: grid;
  justify-content: center;
  height: auto;
  padding: 60px 0px;
}

/*Footer Styles*/
footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ff9148;
    background: #212121;
    bottom: 0px;
    margin: 0;
    padding: 10px 0 10px 0;
}

.footer-container{
	width: 900px;
	max-width: 900px;
}

ul.footer-ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
	overflow: hidden;
	padding: 0px;
}

ul.footer-ul li{
    margin: 0;
    color: white;
}

ul.inner-list{
    list-style-type: none;
    display: list-item;
    padding: 0px;
}

span.logo{
  font-family: MarvaleScript;
  font-size: 30pt;
  color: #fff;
}

/*other*/

.hide{
	display: none;
}

/* li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
} */
