* {box-sizing: border-box;}

/*Global Styles*/
/*Fonts*/
@font-face {
  font-family: 'JavaCom'; /*font name*/
  src: url('fonts/javacom.otf'); /*URL to font*/
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf')
}


::selection {
  background: #ff9148; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff9148; /* Gecko Browsers */
}

/**/
h3{
  margin: 10px 5px 0px 0px;
}

span{
  color: #777777;
}

body{
	font-family: OpenSans;
	font-size: 12pt;
  color: #fff;
  margin: 0;
  text-align: justify;
  background-color: #212121;
}

.indexSection{
  width: 100%;
  max-width: 1903px;
  display: flex;
  justify-content: center;
}


article > .indexSection:not(:first-child):not(:last-child){
  margin: 150px 0;
}
/*Header Styles */

.banner{
  max-width: 1903px;
  height: 300px;
  border-bottom: 1px solid #ff9148;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/bg-1.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  margin: auto;
}

.banner h1{
  margin: 0;
  padding: 0;
  font-size: 44pt;
}
/* Mobile Nav Styles */

div.mobile-logo-container{
  display: none;
}

ul.mobileLinks{
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100vw;
}

ul.mobileLinks li{
  width: 50%;
  background-color: #ff9148;
  border-color: #282828;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

ul.mobileLinks li a{
  display: flex;
  color: #282828;
  width: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15pt;
}

ul.mobileLinks li a:hover{
  color: #000;
}

/* Mobile Nav Styles End */

nav{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
	padding: 0px 0px;
  z-index: 1;
}

.nav-container{
  padding: 10px 0px;
	display: flex;
  width: 1030px;
	justify-content: space-between;
}

.width{
  width:100%;
}

a.logo img{
  height: auto;
  width: 100%;
}

h2.logo{
	font-family: MarvaleScript;
	font-size: 2em;
	padding: 0px;
	margin: 0px;
	color: #fff;
	text-shadow: #000 -2px 1px 4px;
}

.logo-container{
  max-width: 250px;
}

.links-container{
	max-width: 320px;
}

ul.links {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
}

ul.links li{
  margin: 0px 0px;
  width: 130px;
  height: 100%;
  display: flex;
}

ul.links li a{
  display: flex;
  color: white;
  width: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15pt;
}

nav ul li a:hover{
	color: #ff9148; /*Orange
	background-color: #ff9148; */
	transition: .2s;
}

nav ul li a:active{
  text-shadow: 0px 0px 1px #ff9148;
  color: rgba(0, 0, 0, 0.0);
}

/*Main Container Styles*/
/* section.header{ */

.bio {
  background:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url(../images/bg-1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border-bottom: 1px solid #ff9148;
  padding: 300px 0px;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.bio-container{
  max-width: 1030px;
  display: flex;
  flex-flow: wrap;
}

.bio-container .bio-item{
  justify-content: center;
  align-items: center;
  width: 500px;
  display: flex;
}

.bio-text h1{
  color: #ff9148;
  font-size: 35pt;
  padding: 5px 0px;
  margin: 0;
}

.bio-container .bio-item img{
  height: 350px;
}

.bio-item img,
.signature img{
  border-radius: 200px;
  margin: auto;
}

.bio-container .item-across{
  width: 100%;
}

.bio-container .bio-text p{
  margin: 0;
  font-size: 13pt;
}

/* Article Styles */
article.MainContainer{
  margin-left: auto;
  margin-right: auto;
  padding: 150px 0;
  width: 100%;
  max-width: 1903px;
  height: auto;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../images/bodybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Wide Section | Image Display Box */
.box{
    width: 20%;
    height: 100%;
    background-color: darkgrey;
}

.box:nth-child(even){
    background-color: dimgrey;
}

/* Index Blog Container Styles */
.BlogContainer-index p{
  margin: 0px 0px 10px 0px;
}

h2.BlogTitle{
  font-family: helvetica;
  font-size: 15pt;
}

.BlogContainer{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    padding: 10px;
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1030px;
}

.placemat{
    width: 490px;
    padding: 0;
}

a.readmore{
    text-decoration: none;
    color: #ff9148;
    float: right;
}

/* scrollbar style*/

div.scrolly::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #282828;
}

div.scrolly::-webkit-scrollbar
{
	width: 8px;
	background-color: #282828;
}

div.scrolly::-webkit-scrollbar-thumb
{
	background-color: #ff9148;
  border-radius: 5px;
}

.scrollx::-webkit-scrollbarspotify-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #282828;
}

.scrollx::-webkit-scrollbar
{
	height: 8px;
	background-color: #282828;
}

.scrollx::-webkit-scrollbar-thumb
{
	background-color: #ff9148;
  border-radius: 5px;
}

/* Moz scrollbar*/
.scrollx, .scrolly{
  scrollbar-width: thin;
  scrollbar-color: #ff9148 #212121;
}

/*Footer Styles*/
footer{
  display: flex;
  justify-content: center;
  border-top: 1px solid #ff9148;
  background: #101010;
  bottom: 0px;
  padding: 10px 0 10px 0;
}

div.footerMain{
	max-width: 1030px;
  width: 1030px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

div.formContainer{
  display: flex;
  flex-flow: column;
  width: 20%;
}

h2.contact{
  color: #ff9148;
  width: 100px;
  height: 30px;
}

form.contactForm{
  display: none;
  position: relative;
  left: -1000px;
  display: none;
}

form.contactForm input,
form.contactForm textarea{
  width: 100%;
  max-width: 400px;
}

.formContainer button{
  background-color: #ff9148;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.showContact{
  left: 0px;
  -webkit-transition: all 0.5s ease-out;
}

div.spacer{
  flex: 1;
}

div.signature{
  display: flex;
  flex-flow: column;
}

span.logo{
  display: flex;
  justify-content: center;
  font-family: JavaCom;
  font-size: 12pt;
  color: #fff;
}

/*other*/
.hide{
	display: none;
}

/* home page styles */
div.mainMenu{
  height: 100vh;
  display: flex;
  flex-flow: nowrap;
}

div.Side{
  width: 50vw;
}

div.right{
  background-color: #212121;
}

div.right a{
  position: absolute;
  top: 200px;
  right: 100px;
  opacity: 0;
}

div.left{
  background-color: #ff9148;
  transition: all 1s ease;
}

div.left:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/bg-1.jpg);
  transform: scale(1.5);

}

div.left a{
  position: absolute;
  bottom: 200px;
  left: 100px;
  opacity: 0;
}

div.Side a{
  text-decoration: none;
  font-size: 3em;
  color: #eaeaea;
}

.opac{
  opacity: 10;
}
/**/

/* mbile Styles */
@media screen and (max-width: 1000px){
  .BlogContainer-index {
      display: flex;
      /* align-items: center; */
      flex-wrap: wrap;
      /* flex-flow: column; */
      justify-content: center;
      width: 900px;
  }
}

@media only screen and (max-width: 600px) {
        body{
          max-width: 600px;
          font-size: 9pt;
        }

        nav{
          left: 0;
          bottom: 0;
        }

        .logo-container {
          max-width: 100px;
        }

        a.logo{
          margin: auto;
          height: 100%;
        }

        a.logo img{
          height: 100%;
          width: auto;
        }

        .logo-container span {
          font-size: 7pt;
        }

        .links-container{
          max-width: 100px;
        }

        ul.links li {
          margin: 0px 0px;
          width: 100px;
          height: 50%;
        }

        ul.links li a {
          font-size: 8pt;
          padding: 8px;
        }

        .nav-container{
          max-width: 600px;
          display: none;
        }

        ul.mobileLinks{
          display: flex;
        }

        .bio-container{
          justify-content: center;
          max-width: 450px;
        }

        .banner{
          max-height: 200px;
          background-size: cover;
          transition: 2s;
        }

        .banner h1{
          font-size: 18pt;
        }

        .bio-text h1{
          display: flex;
          justify-content: center;
          margin: auto;
          padding: 0;
        }

        article.MainContainer{
          padding: 40px 0;
        }

        article > .indexSection:not(:first-child):not(:last-child) {
          margin: 100px 0;
          padding: 0px 30px;
        }

        .indexSection{
          padding: 0px 30px;
        }

        .BlogContainer{
          max-height: 350px;
          max-width: 500px;
        }
        h2.BlogTitle{
          font-size: 11pt;
        }

        .bio{
          padding: 40px 0;
          height: max-content;
        }

        .bio-container .bio-item {
          width: 280px;
        }

        div.mobile-logo-container{
          display: flex;
          justify-content: center;
          height: 70px;
          width: 200px;
          margin: 0;
        }

        .bio-container .bio-item img{
          height: 150px;
          margin: 30px 0;
        }

        .bio-container .bio-text p{
          font-size: 8pt;
          text-align: center;
          padding: 10px 0;
        }

        /* Footer */
        footer{
          padding: 10px 0 45px 0;
          justify-content: flex-start;
        }

        div.footerMain{
          width: 50vw;
          margin-left: 30px;
        }

        div.signature p{
          font-size: 7pt;
        }

        div.formContainer {
          width: 100%;
        }

        h2.contact{
          display: none;
        }
    }
