* {box-sizing: border-box;}

/*Global Styles*/
/*Fonts*/
@font-face {
  font-family: 'MarvaleScript'; /*font name*/
  src: url('fonts/mervale-script.regular.ttf'); /*URL to font*/
}

/**/
h3{
  margin: 10px 5px 0px 0px;
}

body{
	font-family: Courier;
	font-size: 12pt;
  color: #fff;
  margin: 0;
  text-align: justify;
}

.indexSection{
  width: 100%;
  max-width: 1903px;
  display: flex;
  justify-content: center;
}

article > .indexSection:not(:first-child):not(:last-child){
  margin: 150px 0;
}
/*Header Styles
header{

	height: 52px;
  width: 100%;
	max-width: 100vw;
	justify-content: center;
  border-bottom: 1px solid #ff9148;
}*/

nav{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
	padding: 0px 0px;
  z-index: 1;
}

.nav-container{
	display: flex;
  width: 1030px;
	justify-content: space-between;
}

.width{
  width:100%;
}

a.logo{
	font-family: Courier;
	font-size: 32pt;
	padding: 0px;
	margin: -8px 0px -25px 0px;
	color: #fff;
	text-shadow: #000 -2px 1px 4px;
  text-decoration: none;
  z-index: 1;
}

h2.logo{
	font-family: MarvaleScript;
	font-size: 2em;
	padding: 0px;
	margin: 0px;
	color: #fff;
	text-shadow: #000 -2px 1px 4px;
}

.logo-container{
	display: grid;
  justify-items: right;
}

.logo-container span {
    font-size: 11pt;
    font-family: courier;
    padding: 15px 0;
}

.links-container{
	max-width: 320px;
}

ul.links {
	display: flex;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	justify-content: flex-end;
  flex-wrap: wrap-reverse;
  margin: 0;
}

ul.links li{
	margin: 0px 0px;
  width: 100px;
}

ul.links li a{
  display: flex;
  color: white;
  padding: 17px;
  text-decoration: none;
  justify-content: center;
}

nav ul li a:hover{
	color: #3b240e; /*Brown*/
	background-color: #ff9148; /*Orange*/
	transition: .3s;
}


/*Main Container Styles*/
/* section.header{ */

.bio {
  background:  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url(../images/bg-1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border-bottom: 1px solid #ff9148;
  padding: 250px 0px;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.bio-container{
  max-width: 1030px;
  display: flex;
}

.bio-container .bio-item{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  position: relative;
}

.bio-container .bio-item img{
  height: 350px;
}
.bio-container .item-across{
  width: 100%;
}

.bio-container .bio-text{
  display: grid;
  height: 100%;
}

.bio-container .bio-text p{
  margin: 0;
  font-size: 13pt;
}
/* Article Styles */
article.MainContainer{
  margin: 0;
  padding: 150px 0;
  width: 100%;
  max-width: 1903px;
  height: auto;
  background-image: url(../images/bodybackground.jpg);
  background-color: #212121;
  background-size: cover;
}


/* Wide Section | Image Display Box */
.box{
    width: 20%;
    height: 100%;
    background-color: darkgrey;
}

.box:nth-child(even){
    background-color: dimgrey;
}

/* Index Blog Container Styles */
.BlogContainer-index p{
  margin: 0px 0px 10px 0px;
}

h2.BlogTitle{
  font-family: helvetica;
  font-size: 15pt;
}

.BlogContainer{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    padding: 10px;
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1030px;
}

.placemat{
    width: 490px;
    padding: 0;
}

a.readmore{
    text-decoration: none;
    color: #ff9148;
    float: right;
}
/* scrollbar style*/

div.scrolly::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #212121;
}

div.scrolly::-webkit-scrollbar
{
	width: 8px;
	background-color: #212121;
}

div.scrolly::-webkit-scrollbar-thumb
{
	background-color: #ff9148;
  border-radius: 5px;
}

.scrollx::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #212121;
}

.scrollx::-webkit-scrollbar
{
	height: 8px;
	background-color: #212121;
}

.scrollx::-webkit-scrollbar-thumb
{
	background-color: #ff9148;
  border-radius: 5px;
}

/*Footer Styles*/
footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ff9148;
    background: #212121;
    bottom: 0px;
    padding: 10px 0 10px 0;
}

.footer-container{
	width: 900px;
	max-width: 900px;
}

ul.footer-ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
	overflow: hidden;
	padding: 0px;
}

ul.footer-ul li{
    margin: 0;
    color: white;
}

ul.inner-list{
    list-style-type: none;
    display: list-item;
    padding: 0px;
}

span.logo{
  font-family: MarvaleScript;
  font-size: 30pt;
  color: #fff;
}

/*other*/

.hide{
	display: none;
}

/* mbile Styles */
@media screen and (max-width: 800px){

  .BlogContainer-index {
      display: flex;
      /* align-items: center; */
      flex-wrap: wrap;
      /* flex-flow: column; */
      justify-content: center;
      width: 900px;
  }

}
