* {box-sizing: border-box;}

div.landingContainer{
  max-width: 1903px;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
}
/* Carousel */
div.carouselContainer{
  max-width: 1903px;
  max-height: 436px;
  background-color: #434343;
}

div.carouselContainer img{
  object-fit: cover;
  height: 436px;
  width: 100%;

}

div.throwingShade{
  width: 1903px;
  background-color: rgb(0,0,0,0.6);
  height: 436px;
  position: absolute;
  top: 0;
}
.hide{
  display: none;
}

/* Badges */

div.badgesContainer{
  width: 100%;
  padding: 0 100px;
}

ul.badges{
  width: 100%;
  margin: 0;
  overflow: auto;
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

ul.badges li.badge-item{
  padding: 20px;
  margin: 10px;
  height: 100%;
  background-color: #212121;
  border-radius: 10px;
}

ul.badges li.badge-item a.link:hover{
  color: #ff9148;
}

ul.badges li.badge-item a.link{
  padding: 0;
  text-decoration: none;
  color: #fff;
}

section.row {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.cardContainer{
  position: relative;
  background-color: #262626;
  width: 480px;
  margin: 10px;
}

/* relevant styles */
.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33,33,33, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.cardContainer:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.card-text {
  transition: .2s;
  transform: translateY(1em);
}

.card-full{
  display: flex;
}



.cardContainer:hover .card-text {
  transform: translateX(0);
}

.image-responsive{
  background-color: #6c757d;
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

a.more{
  max-width: 15px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ff9148;
  transition: all .3s;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  div.badgesContainer {
    padding: 0px;
  }

  div.carouselContainer{
    height: 250px;
  }

  div.carouselContainer img {
    height: 250px;
  }

  ul.badges li.badge-item {
    padding: 5px 10px;
    font-size: 8pt;
  }

  div.throwingShade{
    max-width: 100%;
    height: 250px;
  }

  .cardContainer {
    max-width: 360px;
    margin: 20px;
  }

  .image-responsive{
    height: 160px;
  }
  ul.badges{
    justify-content: flex-start;
  }

}
