* {box-sizing: border-box;}

div.landingContainer{
  max-width: 1903px;
  margin-left: auto;
  margin-right: auto;
}

.hide{
  display: none;
}

/* Badges */

div.badgesContainer{
  position: relative;
  top: -146px;
  width: 100%;
  padding: 0 100px;
}

ul.badges{
  width: 100%;
  margin: 0;
  overflow: auto;
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

ul.badges li.badge-item{
  padding: 20px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
}

ul.badges li.badge-item a.link:hover{
  color: #ff9148;
}

ul.badges li.badge-item a.link{
  padding: 0;
  text-decoration: none;
  color: #fff;
}

section.row {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.card-container{
  position: relative;
  background-color: #262626;
  width: 480px;
  margin: 10px;
  transition: 1s ease-out;
  height: max-content;
}

/*--
description styles
--*/

.desc{
  padding: 0px 30px 30px;
  display: none;
}

.desc.display{
  display: block;
}
/*  */


.card-container.grow{
  width: 980px;
  transition: 1s ease-out;
}

/* relevant styles */
.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.card-container:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.card-container:visited:hover{
  color: orange;
  border: green;
}

.open{
  display: none;
  position: inherit;
  top: 4px;
  right: 8px;
  cursor: pointer;
}

.open.close{
  display: block;
}

p.card-text {
    padding: 15px 30px;
    margin: 0 auto;
    width: 100%;
}

.card-text {
    background: #212121;
    transition: 0.5s ease-out;
    transform: translateY(-15.5em);
    display: flex;
    justify-content: space-between;
}

.card-text.display{
  display: none;
  transition: .05s;
}

button{
  background-color: #232323;
  border: none;
  color: #ff9148;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 12pt;
}

button:hover{
  color: #444444;
  cursor: pointer;
}

button:focus{
  border-color: #ff9148;
  border-width: 2px solid;
}

.card-full{
  display: flex;
}

.card-container:hover .card-text {
  transform: translateX(0);
}

.image-responsive{
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: .2s;
}

.image-responsive.size{
    padding: 30px 30px 0px 30px;
}

.card-container:hover .image-responsive{
  filter: grayscale(0);
}

.card-container:hover .image-responsive{
  filter: grayscale(0);
}

a.more{
  max-width: 15px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ff9148;
  transition: all .3s;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  div.badgesContainer {
    padding: 0px;
  }

  ul.badges li.badge-item {
    padding: 5px 10px;
    font-size: 8pt;
  }

  .card-container {
    max-width: 360px;
    margin: 20px;
  }

  p.card-text {
      padding: 9px 15px;
      margin: 0 auto;
      width: 100%;
  }

  .card-text {
      background: #212121;
      transition: 0.5s;
      transform: translateY(-10em);
  }

  .image-responsive{
    height: 160px;
  }
  ul.badges{
    justify-content: flex-start;
  }

}
