* {box-sizing: border-box;}

  .skillbar{
  position: relative;
  width: 1030px;
  height: 20px;
  border-right: solid 1px #fff;
  /*border-radius: 3px;*/
  transition: 0.1s cubic-bezier(0.17, 1.39, 0.86, -0.45);
  transition-property: height, background-color;
  background-color: rgb(38,38,38,0.8);

}

.skillbar-title{
  width: auto;
  font-weight: normal;
  font-size: 14pt;
  color: #fff;
  /*background: #212121;*/
  /*border-radius: 3px 3px 0px 0px;*/
}

.skillbar-bar{
  position: absolute;
  bottom: 0;
  padding-right: 5px;
  height: 100%;
  background: #ff8d2a;
  /*border-radius: 0px 0px 3px 3px;*/
}

.skillbar-bar-percent{
  font-size: 10pt;
}



/* carousel and Container*/
div.topic{
  max-width: 1030px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.skill-container{
  height: 450px;
  display: grid;
  justify-items: space-between;
}

.topic-icon{
  height: auto;
  width: 200px;
}

ul.controls{
  list-style-type: none;
  margin: 0;
  padding: 20px 0px;
}

ul.controls li{
  display: inline;
}
ul.controls li a{
  color: #fff;
  text-decoration: none;
}
ul.controls li a:hover{
  color: grey;
}

div.carousel{
  display: grid;
  justify-items: center;
}

.experience{
  margin: 0;
  padding: 20px 0px;
}

.active{
  display: flex;
}

.hidden{
  display: none;
}
