/* Tab */
div.SkillsContainer{
  width: 1030px;
  background-color: #262626;
}

.tab{
  overflow: hidden;
}

/* Buttons */
.tab button{
  background-color: #232323;
  color: #545454;
  float: left;
  border-radius: none;
  border-top: 1px solid #232323;
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  border-bottom: 0;
  outline: none;
  cursor: pointer;
  padding: 15px 25px;
  transition: 0.4s;
}

.tab button:hover{
  border-top: 1px solid #fff;
  background-color: #232323;
}

.tab button.active{
  border-top: 1px solid #ff9148;
  background-color: #262626;
  color: #fff;
}

.tab button.active > i{
  color: #ff9148;
}

/* Tab-Content */
.tabcontent{
  display: none;
  padding: 6px 12px;
  border-top: 1px solid #ff9148;
}

.material-icons{
  color: #545454;
}

/* box styles */

div.tabContainer{
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

img.skillsImage{
  margin: 20px;
  width: 200px;
  max-height: 150px;
  object-fit: scale-down;
}

@media only screen and (max-width: 600px) {
  div.SkillsContainer {
    max-width: 500px;
  }

  div.tabContainer{
    flex-flow: row;
    overflow: hidden;
  }
  .tabcontent{
    padding: 0;
  }

  .tab{
    display: flex;
    justify-content: center;
  }

  .tab button{
    padding: 7px 15px;
    font-size: 8pt;
  }

  img.skillsImage {
    margin: 10px;
    width: 70px;
    max-height: 70px;
  }

}
